In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv("preplacement.csv")

In [ ]:
dataset

# Independant -- Unpaired Ttest

# Different Group (Male , Female) But the Condition is same (Salary)

In [ ]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset['gender']=='M']['salary']
female=dataset[dataset['gender']=='F']['salary']
ttest_ind(male,female)

In [ ]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
Central=dataset[dataset['ssc_b']=='Central']['salary']
Others=dataset[dataset['ssc_b']=='Others']['salary']
ttest_ind(Central,Others)

# Dependent -- Paired Ttest

# Same Group(Commerce) But Condition is Different(etest_p,mba_p)
Same Group(Male) But Condition is Different(ssc_p, hsc_p)

In [ ]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

In [ ]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
commerce=dataset[dataset['hsc_s']=='Commerce']['etest_p']
commerce1=dataset[dataset['hsc_s']=='Commerce']['mba_p']
ttest_rel(commerce,commerce1)

# Lesser the static value higher the similarity; pvalue should be less than 5%; so here, gender and salary of both male and female shows high similarity

# Hypothesis Testing

# statement - Test whether ssc_p of male and hsc_p of male are same?

# Null Hypothesis - There is no similarity between 10th pass mark and 12th pass mark of male

# Reject Null Hypothesis when p<0.05 and accept alternate hypothesis

# Accept Null Hypothesis when p>0.05

In [ ]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male=dataset[dataset['gender']=='M']['ssc_p']
male1=dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male,male1)

# Result = p > 0.05. This is Null Hypothesis